@import url("./vendor/normalize.css");

@import url("./vendor/fonts/fonts.css");

@import url("./blocks/page/page.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__menu/header__menu.css");
@import url("./blocks/header/__menu/_opened/header__menu_opened.css");
@import url("./blocks/header/__email/header__email.css");
@import url("./blocks/header/__sign-link/header__sign-link.css");
@import url("./blocks/header/__slider-menu/header__slider-menu.css");
@import url("./blocks/header/__slider-open/header__slider-open.css");
@import url("./blocks/header/__slider-line/header__slider-line.css");
@import url("./blocks/header/__slider-close/header__slider-close.css");

@import url("./blocks/logo/logo.css");

@import url("./blocks/content/content.css");

@import url("./blocks/button/button.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__content/profile__content.css");
@import url("./blocks/profile/__wrap-image/profile__wrap-image.css");
@import url("./blocks/profile/__image/profile__image.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__edit/profile__edit.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__profession/profile__profession.css");
@import url("./blocks/profile/__button/profile__button.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_overlay-dark/popup_overlay-dark.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__container/_type/popup__container_type_form.css");
@import url("./blocks/popup/__container/_type/popup__container_type_image.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__button/popup__button.css");

@import url("./blocks/popup-profile/popup-profile.css");
@import url("./blocks/popup-profile/__form/popup-profile__form.css");

@import url("./blocks/popup-card/popup-card.css");
@import url("./blocks/popup-card/__form/popup-card__form.css");

@import url("./blocks/popup-image/popup-image.css");
@import url("./blocks/popup-image/__wrap/popup-image__wrap.css");
@import url("./blocks/popup-image/__photo/popup-image__photo.css");
@import url("./blocks/popup-image/__caption/popup-image__caption.css");

@import url("./blocks/popup-delete/popup-delete.css");
@import url("./blocks/popup-delete/__wrap/popup-delete__wrap.css");
@import url("./blocks/popup-delete/__text/popup-delete__text.css");

@import url("./blocks/popup-tooltip/popup-tooltip.css");
@import url("./blocks/popup-tooltip/__icon/popup-tooltip__icon.css");
@import url("./blocks/popup-tooltip/__icon/_type/popup-tooltip__icon_type_success.css");
@import url("./blocks/popup-tooltip/__icon/_type/popup-tooltip__icon_type_fail.css");
@import url("./blocks/popup-tooltip/__title/popup-tooltip__title.css");

@import url("./blocks/form/form.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__input/_error/form__input_error.css");
@import url("./blocks/form/__text-error/form__text-error.css");
@import url("./blocks/form/__text-error/_visible/form__text-error_visible.css");

@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__list-item/elements__list-item.css");
@import url("./blocks/elements/__item/elements__item.css");
@import url("./blocks/elements/__trash/elements__trash.css");
@import url("./blocks/elements/__trash/_show/elements__trash_show.css");
@import url("./blocks/elements/__photo/elements__photo.css");
@import url("./blocks/elements/__content/elements__content.css");
@import url("./blocks/elements/__like/elements__like.css");
@import url("./blocks/elements/__like/_type/elements__like_type_active.css");
@import url("./blocks/elements/__like/_type/elements__like_type_disabled.css");
@import url("./blocks/elements/__like-count/elements__like-count.css");
@import url("./blocks/elements/__title/elements__title.css");

@import url("./blocks/sign/sign.css");
@import url("./blocks/sign/__title/sign__title.css");
@import url("./blocks/sign/__form/sign__form.css");
@import url("./blocks/sign/__input/sign__input.css");
@import url("./blocks/sign/__button/sign__button.css");
@import url("./blocks/sign/__link/sign__link.css");
@import url("./blocks/sign/__link/_visible/sign__link_visible.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copy/footer__copy.css");
