.header {
  min-width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 45px 200px 40px;
  min-height: 74px;
  font-size: 0;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  background-color: rgba(84,84,84, .7);
}

@media screen and (min-width: 1297px) {
  .header {
    min-width: 880px;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 1141px) {
  .header {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 885px) {
  .header {
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header::after {
    margin-top: 35px;
  }
}

@media screen and (max-width: 457px) {
  .header {
    padding: 28px 0 42px;
  }

  .header::after {
    margin-top: 30px;
  }
}

