.form__input {
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input::placeholder {
  color: #c4c4c4;
}
